#skills .progress-bar {
    height: 100px; /* Altura de la barra de progreso */
    width: 20px; /* Ancho de la barra de progreso */
    background-color: #ccc; /* Color de fondo de la barra de progreso */
    border-radius: 10px; /* Radio de esquina de la barra de progreso */
  }
  
  #skills .progress-bar .progress-bar-inner {
    height: 100%; /* Altura del contenido de la barra de progreso */
    width: 0%; /* Ancho inicial del contenido de la barra de progreso */
    background-color: #00698f; /* Color de fondo del contenido de la barra de progreso */
    border-radius: 10px; /* Radio de esquina del contenido de la barra de progreso */
    transition: width 0.5s ease-in-out; /* Transición de ancho del contenido de la barra de progreso */
  }
  
  #skills .progress-bar .progress-bar-inner:hover {
    width: 100%; /* Ancho final del contenido de la barra de progreso al pasar el mouse */
  }